*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: var(--purple-ligth);
}

:root {
    --purple-dark: #882BFF;
    --purple-darker: #4b1a8b;
    --purple-medium: #9661cc;
    --purple-ligth: #c9c3cf;
    --white:rgb(255, 255, 255);
    --dark: #000000;
    --dark-ligther: #141316;
    --boxShadow: rgb(30, 7, 61);
}

.list-Item{
    cursor: pointer;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 200 !important;
    text-align: center !important;
    font-size: 14px !important;
    color: var(--white) !important;
}

#Habilidades::before{
    content: '';
    position: absolute;
    height: 4px;
    width: 100px;
    bottom: 0.5px;
    border-radius: 8px;
    background: var(--purple-dark);
}

#About::before{
    content: '';
    position: absolute;
    height: 4px;
    width: 60px;
    bottom: 0.5px;
    border-radius: 8px;
    background: var(--purple-dark);
}

#Projetos::before, #Contatos::before{
    content: '';
    position: absolute;
    height: 4px;
    width: 80px;
    bottom: 0.5px;
    border-radius: 8px;
    background: var(--purple-dark);
}

.p{
    font-family: 'Poppins', sans-serif !important;
    font-weight: 200 !important;
    font-size: 1.2rem !important;
    padding-left: 3rem !important;
    padding-right: 3rem!important;
}

.title{
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500 !important;
    padding-left: 3rem !important;
    padding-right: 3rem !important;
    color: var(--white);
    position: relative !important;
}


.image-tag{
    width: 80%;
    height: 100%;
    background-image: url('../../public/Assets/images/tag-html.png') !important;
    background-repeat: no-repeat!important;
    background-size: contain !important;
}

.button-home{
    font-family: 'Poppins', sans-serif !important;
    text-transform: none !important;
    font-weight: 200 !important;
    border-radius: 7px !important;
    margin-top: 1.5rem !important;
    color: var(--white) !important;
}

#projetos{
    background-color: var(--purple-dark);
}

#projetos:hover{
    background-color: var(--purple-darker);
}

#curriculo{
    border-color: var(--purple-dark);
    margin-left: 1rem !important;
}

#curriculo:hover{
    background-color: var(--purple-dark);
}

#cardHabilidades{
    margin-top: 3rem;
    background: linear-gradient(139.04deg, rgba(255, 255, 255, 0.39) -9.89%, rgba(255, 255, 255, 0) 106.65%);
    border: 0.424528px solid #FFFFFF;
    backdrop-filter: blur(7.64151px);
    border-radius: 16.9811px;
}

#cardHabilidades:hover, .cardprojetos:hover{
    box-shadow: 10px 10px 44px 3px var(--boxShadow) !important;
}

.cardprojetos{
    margin-top: 4rem;
    width: 18rem !important;
    background-color: var(--purple-darker) !important;
    color: var(--white) !important;
    border-radius: 0.5rem !important;
}

.gridCards{
    display: flex !important;
    justify-content: space-around !important;
    align-items: center !important;
}

.displayColumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons-Footer{
    border-radius: 40rem !important;
    width: 1rem !important;
    height: 4rem !important;
    background-color: var(--purple-dark) !important;
}


